<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统设置</title>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery.dcjqaccordion.2.7.js}" class="include"></script>
    <script th:src="@{/js/jquery.nicescroll.js}"></script>
    <script th:src="@{/js/jquery.sparkline.js}"></script>
    <script th:src="@{/js/sparkline-chart.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/commonAll.js}"></script>
    <link th:href="@{/css/bootstrap1.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style1.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/default1.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/layui.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/icon.css}">
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/js/jquery/3.3.1/jquery.min.js}"></script>
    <script>
        function openxiugaiDialog(){
            $("#dlg2").dialog('open').dialog('setTitle','修改密码');
        }
        function xiugaimima() {
            $("#xiugai").form("submit", {
                success: function (result) {
                    if (result!="sucess"){
                        $.messager.alert("系统提示",result);
                    } else {
                        $.messager.alert("系统提示", "修改成功");
                        $("#dlg2").dialog("close");

                    }
                }
            });
        }
        function openaddadm(){
            $("#dlg3").dialog('open').dialog('setTitle','添加管理员');
        }
        function addadm() {
            $("#addadm").form("submit", {
                success: function (result) {
                    if (result!="sucessful"){
                        $.messager.alert("系统提示",result);
                    } else {
                        $.messager.alert("系统提示", "添加成功");
                        $("#dlg3").dialog("close");

                    }
                }
            });
        }
        var uuid=0;
        $("#displayBox .hd a").click(function(){ $("#displayBox").hide(); });
        function closethis() {
            $("#displayBox").hide();
        }
        function modify2(){
            $("#displayBox h3").text("员工增加页面");
            $("#displayBox iframe").attr("src","toaddstaff.do");
            $("#displayBox").show();
        }
        function updatestaff(){
            if (uuid==0){
                alert("请选择修改的员工")
            }else{
                $("#displayBox h3").text("员工修改页面");
                $("#displayBox iframe").attr("src","toupdatestaff.do?uuid="+uuid);
                $("#displayBox").show();
            }

        }
        function  trclick(uid) {
            uuid=uid;
        }
        function deletestaff(){
            if (uuid==0){
                alert("请选择删除的员工")
            } else{
            $.ajax({
                url:"deletestaff.do",
                type:"post",
                data:{
                    uuid:uuid
                },
                success:function (data) {
                    if(data==1){
                        alert("删除成功");
                        window.location.reload();
                    }else{
                        alert("删除失败");
                    }

                }
            })
            }
        }
        function staffgotomain() {
            alert("添加成功")
            $("#displayBox").hide();
            window.location.reload();
        }
        function staffgotomain1() {
            alert("修改成功")
            $("#displayBox").hide();
            window.location.reload();
        }
    </script>
</head>
<body>
<input type="button" value="修改密码" onclick="openxiugaiDialog()">
<input type="button" value="添加管理员" onclick="openaddadm()">

<div id="dlg2" class="easyui-dialog" style="width:400px;height:180px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons2">
    <form id="xiugai" action="xiugai" method="post">
        <table>
            <tr>
                <td>原密码：</td>
                <td><input type="text" name="oldpwd"> </td>
            </tr>
            <tr>
                <td>新密码：</td>
                <td><input type="password" name="newpwd"> </td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td><input type="password" name="confimpwd"> </td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons2">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="xiugaimima() ">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')">关闭</a>
</div>
<div id="dlg3" class="easyui-dialog" style="width:400px;height:180px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons3">
    <form id="addadm" action="add" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="username"> </td>
            </tr>
            <tr>
                <td>真实姓名：</td>
                <td><input type="text" name="name"> </td>
            </tr>
            <tr>
                <td>新密码：</td>
                <td><input type="password" name="pwd"> </td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td><input type="password" name="repwd"> </td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons3">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="addadm()">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')">关闭</a>
</div>
<input class="layui-btn layui-btn-warm" type="button" value="添加" onclick="modify2()"/>
<input class="layui-btn layui-btn-warm" type="button" value="修改" onclick="updatestaff()"/>
<input class="layui-btn layui-btn-warm" type="button" value="删除" onclick="deletestaff()"/>
<div th:fragment="div1" id="div1">
        <table id="table" class="table">
            <tr>
                <td>员工编号</td>
                <td>员工姓名</td>
                <td>员工性别</td>
                <td>联系电话</td>
                <td>入职时间</td>
                <td>所属部门</td>
            </tr>
            <tr th:each="staff:${list}" th:attr="id='c'+${staff.uid}" onclick="trclick(this.id)">
                <td th:text="${staff.uid}"></td>
                <td th:text="${staff.uname}"></td>
                <td th:text="${staff.sex}"></td>
                <td th:text="${staff.telephone}"></td>
                <td th:text="${staff.staffDate}"></td>
                <td th:text="${staff.dname}"></td>
            </tr>
        </table>
    共有<span th:value="无" th:text="${size}"></span>条数据
    <p>共<span th:value="无" id="allpages" th:text="${pages}"></span>页</p>当前为第<span th:value="无" id="thispage" th:text="${page}"></span>页<br />
    <button class="layui-btn layui-btn-sm layui-btn-primary"   value="1" onclick="checkpage(this.value)">首页</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary"  onclick="downpage()">上一页</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary"  value="1" onclick="checkpage(this.value)">1</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" value="2" onclick="checkpage(this.value)">2</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" value="3" onclick="checkpage(this.value)">3</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary"  onclick="onpage()">下一页</button>
    </div>
<div id="displayBox">
    <div class="hd"><a onclick="closethis()">×</a><h3></h3></div>
    <div class="bd">
        <iframe scrolling="yes" src="" frameborder="0"></iframe>
    </div>
</div>
</body>
</html>