<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <link th:src="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />-->
    <script>
        function change() {
            var region=$('#test option:selected').val();
            alert(region);
        }
    </script>
</head>
<body>
<select  class="form-control" id="test" onchange="change()">
    <ul th:each="region:${list}">
    <option th:attr="value=${region.rid}"><li th:text="${region.rname}"></option>
    </ul>
</select>
</body>
</html>